<div class="login-wrapper">

	<mat-card class="box">
		<mat-card-header>
			<mat-card-title>
				<div>
					<img src="https://i.postimg.cc/gkwBvnFd/Isotipo-Asset-512.png" style="width: 150px; height: 150px;"/>
      </div>
					<div>
						<img src="https://i.postimg.cc/SRnV7tPV/logotipo-512.png" style="width: 160px; height: 40px; margin-top: 5%"/>
      </div>
			</mat-card-title>
		</mat-card-header>

		<form class="example-form">
			<mat-card-content>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Nombre de Usuario">
          </mat-form-field>

					<mat-form-field class="example-full-width">
						<input matInput placeholder="Contraseña">
          </mat-form-field>
			</mat-card-content>
			<button mat-stroked-button color="warn" class="btn-block">Iniciar sesión</button>
		</form>
	</mat-card>

</div>